<ion-list>
  <ion-item *ngIf="usuarioData && !skeleton">
    <ng-content></ng-content>
    <ion-label>
      {{ usuarioData?.nome }}
      <p>{{ usuarioData?.documento }}</p>
      <p>{{ usuarioData?.id }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list *ngIf="skeleton">
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
</ion-list>
