<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teste</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ng-container *ngIf="usuarioTem">
    <app-usuario [skeleton]="skeleton" [usuarioData]="usuarioTem">
      <span> v1</span>
    </app-usuario>
   </ng-container>
   <app-usuario [skeleton]="skeleton" [usuarioData]="usuario">
     <span>v2</span>
   </app-usuario>
  </div>
</ion-content>
